{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %} Магазин настольных игр {% endblock %}</title>

    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static '/boardgames/css/style.css' %}">
    {% endblock css %}

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Andika+New+Basic:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">

    {% block script %}
    <script src="{% static '/boardgames/js/jquery-3.5.1.js' %}"></script>
    <script src="{% static '/boardgames/js/form.js' %}"></script>
    <script src="{% static '/boardgames/js/more_bgs_btn.js' %}"></script>
    {% endblock script %}

</head>

<body>

    <header class="header">
        <div class="container">
            <div class="header__inner">
                <a href={% url 'boardgames:catalog' %} class="logo">
                    <img id=temp src="{% static '/boardgames/img/logo.png' %}" alt="logo" class="logo__img">
                </a>

                <nav class="menu">
                    <ul class="menu__list">
                        <li class="menu__list-item">
                            <a href="{% url 'boardgames:hot15bgg' %}" class="menu__list-link">
                                Топ 15 BGG
                            </a>
                        </li>
                        <li id="basket" class="menu__list-item">
                            <a href="{% url 'boardgames:cart' %}" class="menu__list-link">
                                Корзина {% if cart.total_product %} {{cart.total_product}} {% endif %}
                            </a>
                        </li>
                    </ul>
                </nav>

                <div class="user_nav">
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'boardgames:list_order' %}" class="user_nav-link">Просмотреть заказы</a>
                    <a href="{% url 'login_registration:logout' %}" class="user_nav-link">Выход</a>
                    {% else %}
                    <a href={% url 'login_registration:register' %} class="user_nav-link">Регистрация</a>
                    <a href={% url 'login_registration:login' %} class="user_nav-link">Вход</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

    {% block search_form %}
    {% if search_form %}
    <section class="search_form">
        <div class="container">
            <form action={% url 'boardgames:search_for_bg' %} method='POST' class="search_form">
                <div class="search_form_inner">
                    {% csrf_token %}
                    {{search_form.bg_name}}
                    <div class="submit_wrapper">
                        <div class="submit_wraper__inner">
                            <input class="search_form_btn" type="submit" value=""></input>
                            <input type="image" class="search_form_icon" src={% static 'boardgames/img/search_icon.png' %} width='30'></input>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    {% endif %}
    {% endblock search_form %}

    {% block  content %}
    <section class="items">
        <div class="container">
            {% if not boardgames %}
            <h1>Похоже таких игр нет, но вы можете выбрать что-либо из <a href={% url 'boardgames:catalog' %}><u>нашего каталога</u></a></h1>
            {% endif %}
            <div class="items__inner" id="items__inner">

                {% for boardgame in boardgames  %}

                <a class="item" href={{boardgame.get_absolute_url}}>
                    <div class="item__inner">
                        <img src="{{boardgame.img.url}}" alt="bg_logo" class="item__inner-img">
                        <div class="item__inner-content">
                            <p class="item__inner-content-name">{{boardgame.name}}</p>
                            <p class="item__inner-content-quantity">На складе: {{boardgame.quantity}}</p>
                            <p class="item__inner-content-price">{{boardgame.price}} р.</p>
                        </div>
                    </div>
                </a>

                {% endfor %}
            </div>
        </div>
    </section>

    {% if max_bgs > 9 %}
    <section class="buttons">
        <div class="container">
            <div class="button__inner">
                <button class="more" value="More" type="more">
                    Показать ещё
                </button>
            </div>
        </div>
    </section>
    {% endif %}
    {% endblock %}

    {% block line %}
    <section class="line-wrapper">
        <div class="container">
            <hr class="line">
        </div>
    </section>
    {% endblock line %}

    <section class="hidden_form">
        <div class="container">
            <div class="hidden_form-background"></div>
            <form action={% url "boardgames:catalog" %} method="POST" class="footer__form">
                {% csrf_token %}
                <div class="title_and_cross_wrapper">
                    <div class="footer_form-title">Свяжитесь с нами</div>
                    <img src="{% static '/boardgames/img/cross.png' %}" alt="cross" class="footer_form-img">
                </div>
                <div class="CustomerNameWrapper">
                    {{form.customer_name.errors}}
                    <label class=customer_name_label for="{{ form.customer_name.id_for_label }}">
                        Ваше имя:
                    </label>
                    <br>
                    {{form.customer_name}}
                </div>
                <div class="MessageWrapper">
                    {{form.message.errors}}
                    {{form.message.label_tag}}
                    <br>
                    {{form.message}}
                </div>
                <div class="footer__form-btn-wrapper">
                    <input type="submit" value="Отправить" name="suggestion_bg" class="footer__form-btn">
                </div>
            </form>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="footer__inner">

                <ul class="footer__inner-menu">
                    <li class="footer__inner-menu-item">
                        <a href="#" class="footer__inner-menu-link">
                            О нас
                        </a>
                    </li>
                    <li class="footer__inner-menu-item">
                        <a href="#" class="footer__inner-menu-link">
                            FAQ
                        </a>
                    </li>
                    <li class="footer__inner-menu-item">
                        <a href="#" class="footer__inner-menu-link">
                            Контакты
                        </a>
                    </li>
                </ul>

                {% if request.path == '/catalog/' %}
                <ul class="footer__inner-download_menu">
                    <li class="footer__inner-download_menu-item">
                        <a href={% url 'boardgames:download_csv' %} class="footer__inner-download_menu-link">
                            Скачать каталог (CSV)
                        </a>
                    </li>
                    <li class="footer__inner-download_menu-item">
                        <a href={% url 'boardgames:download_pdf' %} class="footer__inner-download_menu-link">
                            Скачать каталог (PDF)
                        </a>
                    </li>
                </ul>
                {% endif %}

                <div class="formstart">
                    <div class="formstart__inner">
                        <p class="formstart_message">
                            Не нашли нужную игру?
                        </p>
                        <button class="formstart_btn" value=# type=#>
                            Свяжитесь с нами
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>