<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% block page_title %}<title>Регистрация пользователя</title>{% endblock page_title %}
    <link rel="stylesheet" type="text/css" href="{% static '/boardgames/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/boardgames/css/registration_login.css' %}">
</head>

<body>
    <div class="container">
        <div class="registration_form_wrapper">
            {% block form %}
            <form action={% url 'login_registration:register' %} method="post">
                <p class="form_title">СОЗДАЙТЕ АККАУНТ</p>
                {% csrf_token %}
                {% for field in form %}
                {{field.errors}}
                {{field}}
                <br>
                {% endfor %}
                <input type="submit" value="Регистрация" class="submit_btn">
                <br>
                <div class="to_login_wrapper">
                    Уже есть аккаунт?<a href={% url 'login_registration:login' %} class="login"> <b><u>Нажмите сюда</u></b></a>
                </div>
            </form>
            {% endblock form %}
        </div>

    </div>
</body>

</html>