{% extends '../home.html' %}
{% load static %}

{% block title %}Корзина{% endblock title %}

{% block css %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href={% static '/boardgames/css/style.css' %}>
<link type="text/css" href={% static '/boardgames/css/jquery.nice-number.css' %} rel="stylesheet">
<link type="text/css" href={% static '/boardgames/css/cart.css' %} rel="stylesheet">
{% endblock css %}

{% block script %}
<script src="{% static '/boardgames/js/jquery-3.5.1.js' %}"></script>
<script src="{% static '/boardgames/js/form.js' %}"></script>
<script src="{% static '/boardgames/js/update_cart.js' %}"></script>
<script src="{% static '/boardgames/js/jquery.nice-number.js'%}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
</script>
<script type="text/javascript">
    $(function () {

        $('input[type="number"]').niceNumber();

    });
</script>
{% endblock script %}

{% block content %}
<section class="cart">
    <div class="container">
        <h3>Ваша корзина {% if not cart.products.count %}пуста{% endif %}</h3>

        {% if messages %}
        {% for message in messages %}
        <div class="alert {% if message.tags == "info" %} alert-success {% else %} alert-warning {%endif%} alert-dismissible fade show alert_inner" role="alert">
            <div class="message_wrapper">
                {{message.message}}
            </div>
            <div class="button_wrapper">
                <button type="button" class="close alert_close_btn" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
        </div>
        {% endfor %}
        {% endif %}

        {% if cart.products.count %}
        <table class="table">
            <thead class="table-light">
                <tr>
                    <th scope="col">Название игры</th>
                    <th scope="col">Изображение</th>
                    <th scope="col">Цена</th>
                    <th scope="col">Количество</th>
                    <th scope="col">Общая цена</th>
                    <th scope="col">Удалить из корзины</th>
                </tr>
            </thead>
            <tbody>

                {% for item in cart.products.all %}
                <tr>
                    <th><span class="title">{{item.boardgame.name}}</span></th>
                    <td><img src="{{item.boardgame.img.url}}" width="100px" alt=""></td>
                    <td>{{item.boardgame.price}}</td>
                    <td>
                        <div class="nice-number qty_btn">
                            <input class="number" type="number" min="1" step="1" max="20" value={{item.qty}} readonly>
                        </div>
                    </td>
                    <td>{{item.price_for_product}}р.</td>
                    <td><a href={% url 'boardgames:remove_from_cart' slug=item.boardgame.slug %}><img
                                src="{% static 'boardgames/img/bin.png'%}" width="40px"></a></td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan=2><strong>Всего товаров: {{cart.total_product}}</strong></td>
                    <td><strong>Общая цена: {{cart.final_price}}р.</strong></td>
                </tr>
            </tbody>
        </table>
        <div class="update_cart_set_order_wrapper">
        <button class="update_btn">Обновить корзину</button>
        <a href={%url "boardgames:set_order" %} class="set_order_link"> Оформить заказ </a>
        {% endif %}
    </div>
</section>
{% endblock content %}